# dependencies
node_modules/
.pnp
.pnp.js

# testing
.nyc_output
coverage

# production
build
dist
.next
out

# misc
.DS_Store
*.pem
.env
.env.local
.env.*.local
.cache

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# database
db/
*.db
*.db-shm
*.db-wal

# prisma
prisma/migrations/
